.doc-panel
  box-sizing: border-box
  padding: 15px
  width: 100%
  max-width: 1000px
  .table
    margin-top: 10px
    border-collapse: collapse
    width: 100%
    background-color: #fff
    color: #5e6d82
    font-size: 14px
    line-height: 1.5em
    thead
      background: #eff2f7
    td,th
      border-bottom: 1px solid #eaeefb
      padding: 10px
      max-width: 250px
    th
      text-align: left
      border-top: 1px solid #eaeefb
      background-color: #eff2f7
      white-space: nowrap
    tbody td:first-child,th:first-child
      padding-left: 10px
      background: #fcfcfc
