.demo-panel {
  width: 100%;
  max-width: 1000px;
  padding: 0 20px;
  box-sizing: border-box;

  .title {
    margin: 35px 0 10px;
    font-weight: 400;
    color: #1f2f3d;
  }

  .subtitle {
    font-size: 14px;
    color: #5e6d82;
    line-height: 1.5em;
    margin: 10px 0;
  }

  .wrap-box {
    border: 1px solid #D1D1D1;
    border-radius: 4px;

    .demo-box {
      padding: 20px;
    }

    .js-fiddle {
      border-top: 1px solid #D1D1D1;
      transition: height 0.5s;

      iframe {
        height: 0;
        transition: height 0.5s;
      }
    }

    .js-fiddle-show {
      height: 313px;

      iframe {
        height: 310px;
      }
    }

    .js-fiddle-hidde {
      height: 0;

      iframe {
        height: 0;
      }
    }

    .demo-block-control {
      height: 40px;
      line-height: 40px;
      border-top: 1px solid #D1D1D1;
      cursor: pointer;
      text-align: center;
      font-size: 14px;
      color: #93989E;
      margin-top: -1px;

      &:hover {
        color: #0EA1EB;
      }
    }
  }
}
