@btn-border-active: #f0faff;
@btn-border-primary-bg-active: #dbf3ff;
@btn-border-danger-bg-active: #FFdbdb;
@btn-border-secondary-bg-active: #e0f5ff;
@btn-border-success-bg-active: #dbffed;
@btn-border-warning-bg-active: #fff2d6;
